.button{
    color: white;
    background: $blue;
    padding: $s-size;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    border: none ;
    line-height: 1;
    text-decoration: none;
}

.button--link{   
    background: none;   
}

.button--secondary{
    background: #888888;
}